@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}
.top-section{
    position: fixed;
    width: 100%;
    top: 0;
}
.top-section-content {
    background: #4075d7;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    height: 100px;
    max-height: 8vh;
}
.fade-top {
    background: linear-gradient(to bottom, #4075d7, rgba(255,0,0,0));
    height: 10px;
    width: 100%;
}
.blank-1{
    height: 10vh;
    width: 100%;   
}
.blank-2{
    height: 3vh;
    width: 100%;   
}
.signup-btn {
    color: white;
    text-decoration: underline;
    display: inline; 
    cursor: pointer;  
}
.central-section {
    padding: 20px;
    text-align: center;
}
input[type="text"],
input[type="password"] {
    border: 2px solid #4075d7; 
    border-radius: 25px;        
    padding: 8px;              
    outline: none;             
    font-size: larger;
    width: 80%;               
    text-align: center;
}
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #0056b3;     
}
input[type="submit"] {
    border: 2px solid #4075d7; 
    border-radius: 25px;        
    padding: 8px;              
    outline: none;             
    width: 60%;               
    text-align: center;
    background-color: #4075d7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}
.bottom-section {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-images {
    display: flex;
    justify-content: space-evenly; /* equal space between AND around images */
    align-items: center;
    width: 100%;
}

.footer-images img {
    width: 70px;  /* adjust size as needed */
    height: auto;
}